html {
  background: grey;
  height: 100%;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 10px;
  font-family: Impact, Haettenschweiler, sans-serif;
  color: white;  
}

h6 {
  font-size: 8px;
  color: white;
  font-family: Impact, Haettenschweiler, sans-serif;
}

body {
  box-sizing: border-box;
  display: flex;
}

.playerX {
  display: flex;
  background: #1F1F3D;
  flex-grow: 3;
  padding-top: 5px;
}


main {
  background: #A9AAD2;
  flex-grow: 6;
  justify-content: cener;
}

.board {
  text-align: center;
}

.playerO {
  background-color: blue;
  flex-grow: 3;
  display: flex;
  padding-top: 5px;

}

.center {
  text-align: center;
}

.row {
  margin-bottom: 5px;
}

.mini-row {
  display: flex;
}

.mini-container {
  padding: o;
  margin-left: 10px;
  border: .5px dotted white;
  text-align: center;
}

.mini-box {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: .5px;
  text-align: center;
}

.box {
  display: inline-block;
  width: 50px;
  margin: 0;
  padding: 40px;
  border: 1px dashed black;
  text-align: center;
  cursor: pointer;
}

.winner {
  font-size: 27px;
  font-weight: bold;
  color: red;
}

.hide {
  display: none;
}